:root {
	--eggshell: rgb(244, 236, 211);
	--gold: rgb(193,157,58);
	--lilac: rgb(161, 150, 234);
	--deep-purple: rgb(76, 50, 204);
}
body {
	background-color: var(--eggshell);
}

div.deep-purple {
	background-color: var(--deep-purple) !important;
	height:40vh;
}

div.lilac {
	background-color: var(--lilac) !important;
	height:40vh;
}

div.gold {
	background-color: var(--gold) !important;
	height:40vh;
}

/* NAV */

 .navbar-light .navbar-nav .nav-link {
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size: 28px;
	color: var(--lilac) !important;
}

.bg-light {
	background-color: var(--eggshell) !important; 
}

.navbar-toggler {
	 border-color: var(--lilac) !important;
}

h1 {
	font-family: 'Karla', sans-serif;
	font-weight: 400;
	font-size:40px;
	color: var(--deep-purple) !important;
}

h2 {
	font-family: 'Karla', sans-serif;
	font-weight: 200;
	font-size: 32px;
	color: var(--deep-purple) !important;
}

h3 {
	font-family: 'Karla', sans-serif;
	font-weight: 200;
	font-size: 26px;
	color: var(--gold) !important;
}

p {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color: var(--deep-purple) !important;
}

hr {
	background-color: none;
}

.img-fluid {
	margin-bottom: 15px;
}

.btn {
	background-color: var(--deep-purple);
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color: var(--eggshell) !important;
	margin-bottom: 10px;
}

.btn:hover {
	background-color: var(--lilac);
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color: var(--eggshell) !important;
	margin-bottom: 10px;
}

.form-label {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color: var(--deep-purple) !important;
}

