:root {
	--moss: rgb(234, 240, 206);
	--sea-glass: rgb(115, 135, 123);
	--salmon: rgb(214, 104, 83);
	--navy: rgb(46, 49, 56);
	--plum: rgb(85, 55, 57);
}

body {
	background-color: var(--navy);
}

.bg-jumbo {
	background-image: url(../images/jumbotron.jpg);
	background-repeat: no-repeat;
	height: 50vh;
	margin-top: 3%;
}

.jumbo-type {
	font-family: 'Scheherazade New', serif;
	font-weight: 700;
	font-size: 80px;
	color: var(--moss);
}

.bg-light {
	background-color: var(--salmon) !important; 
}

.navbar-brand {
	font-family: 'Scheherazade New', serif;
	font-weight: 700;
	font-size: 24px;
	color: var(--navy) !important;
}

.navbar-light .navbar-nav .nav-link.active {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: var(--navy) !important;
}

.article-header {
	font-family: 'Scheherazade New', serif;
	font-weight: 400;
	font-size: 75px;
	color: var(--salmon);
	margin-top: 3%;
}

.article-subhead {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 35px;
	color: var(--sea-glass);
	margin-bottom: 2%;
}

.paragraph-lead {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: var(--moss);
	margin-bottom: 2%;
}
.paragraph {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: var(--moss);
}

.card-body {
	background-color: var(--sea-glass) !important;
}

.card-title {
	font-family: 'Scheherazade New', serif;
	font-weight: 700;
	font-size: 24px;
	color: var(--plum);
}

.card-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--plum);
}