:root {
	--salmon: rgb(255,166,134);
	--raspberry: rgb(182,70,95);
	--green-black: rgb(22.37,33);
	--charcoal: rgb(60,71,75);
	--perriwinkle: rgb(144,151,192);
	--white: rgb(255,255,255);
}

.bg-light {
	background-color: var(--perriwinkle) !important;
}

.btn-outline-success {
	color: var(--salmon);
	border-color: var(--salmon);
}

.btn-outline-success:hover {
	color: var(--white);
	background-color: var(--salmon);
	border-color: var(--salmon);
}